{% include 'advagency/_head.html'%}
<div class="container-fluid mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Adv Agency</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/advagency/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/advagency/employment_department">Employment
                            department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/advagency/places">Places</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            Positions
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="list-group">
                            {% for pos in all_positions %}
                            <a href="/advagency/employment_department/{{pos.code}}"
                               class="list-group-item {% if pos.code == position_code %}list-group-item-success{% endif %}">
                                {{pos.name}}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <a href="/advagency/employment_department">
                <button class="btn btn-lg btn-block btn-danger mt-2 mb-2">Clear filter</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            {% for pos in positions %}
            <div class="container-fluid card py-3 mb-5">
                <h2 style="text-align: center">{{pos.name}}</h2>
                <table class="table">
                    <tr>
                        <th>Code</th>
                        <td>{{pos.code}}</td>
                    </tr>
                    <tr>
                        <th>Salary</th>
                        <td>{{pos.compensation}}</td>
                    </tr>
                    <tr>
                        <th>Duties</th>
                        <td>{{pos.duties}}</td>
                    </tr>
                    <tr>
                        <th>Requirements</th>
                        <td>{{pos.requirements}}</td>
                    </tr>
                </table>
                <h4 style="text-align: center">Employees:</h4>
                {% for emp in pos.employees %}

                <div class="card text-center">
                    <div class="card-header">

                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <div class="col-2">
                            <div class="d-flex  ">
                                <image src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                       style="width:100px;height:100px" class="rounded"></image>
                            </div>
                        </div>

                        <table class="table table-bordered">
                            <tr>
                                <th>Code</th>
                                <td>{{emp.code}}</td>
                            </tr>
                            <tr>
                                <th>Fullname</th>
                                <td>{{emp.fullname}}</td>
                            </tr>
                            <tr>
                                <th>Sex</th>
                                <td>{{emp.sex}}</td>
                            </tr>
                            <tr>
                                <th>Birthday</th>
                                <td>{{emp.birthday|date:"M d, Y"}}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{emp.address}}</td>
                            </tr>
                            <tr>
                                <th>Phone number</th>
                                <td>{{emp.phone_number}}</td>
                            </tr>
                            <tr>
                                <th>Person ID</th>
                                <td>{{emp.person_id}}</td>
                            </tr>
                        </table>

                    </div>
                    <div class="card-footer text-muted">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'advagency/_tail.html'%}