{% include 'advagency/_head.html'%}
<div class="container-fluid mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Adv Agency</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/advagency/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/advagency/employment_department">Employment department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/advagency/places">Places</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            Welcome to the main page!
        </div>
    </div>
</div>
{% include 'advagency/_tail.html'%}